@{
  ViewBag.Title = "About";
}
<div class="form-crud list-medium table" style="width:500px;vertical-align:central" align="left">
  <p align="left" style="font-size:x-large">What is ATOM?</p>
  <p align="left">
    An Enterprise Solution to provide the right data, with the right quality, at the right time, presented in a consistent and flexible way.
  </p>
  <p align="left" style="font-size:x-large">
    What kind of Data?
  </p>
  <p align="left">

    <ul align="left">
      <li style="text-align: left;">kpi data</li>
      <li style="text-align: left;"> Operational Reports</li>

    </ul>

    <dl align="left" style="text-align: left;">
      <dt>From</dt>
      <dd>-Baan</dd>
      <dd>-FlexFlow</dd>
      <dd>-RP</dd>
      <dd>-MDSS</dd>
      <dd>- and other legacy systems</dd>
    </dl>
  </p>
</div>
