@{
  ViewBag.Title = "Contact";
}
<div class="form-crud list-medium table" style="width:500px;vertical-align:central" align="left">
  <div>
    <p align="left" style="font-size:x-large">Contact Person</p>
    <p>Mahendra Gurav</p>
    VoIP    : 6666 924 1235<br />
    Direct  : +91 20 6658 1235<br />
    Mobile : +91 9922489062<br />
    <p>Support</p>
    <a href="mahendra.gurav@flextronics.com">mahendra.gurav@flextronics.com</a><br />
    <a href="www.flextronics.com">www.flextronics.com</a></div>
</div>


